.footer__container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border-top: 2px solid #ebebeb;
  background-color: #f7f7f7;
  position: relative;
  bottom: 0;
  margin-top: 40px;
}
.footer__text {
  color: #707070;
  font: 0.938rem/70px Helvetica;
  letter-spacing: 0px;
  padding: 10px;
}
